/* FONTS */

@font-face {
    font-family: defaultFont;
     src: url(fonts/Pontano_Sans/PontanoSans-Regular.ttf);
}

@font-face {
    font-family: boldFont;
    src: url(fonts/Lilita_One/LilitaOne-Regular.ttf);
}

@font-face {
    font-family: lightFont;
    src: url(fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: regularFont;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

.light-font {
	font-family: lightFont;
}

.bold-font {
	font-family: boldFont;	
}

.def-font {
	font-family: defaultFont;
}

.lg-font {
	font-size: 4em;
}



/* end */

html, body {
	font-family: defaultFont, sans-serif;		
	
}

.folder {
	height: 250px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	border-radius: 2px;
	margin: 10px;
}

.folder:hover {
	box-shadow: 0px 2px 6px 0px rgba(171,168,171,1);
	transition: box-shadow 0.3s linear;
}

#album-art {
	box-shadow: 0px 9px 36px -6px rgba(181,177,181,1);

}


/* REMOVE DOWNLOAD BTN */
audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}
audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/* end */

#artist {
	color: #616161;
}

#player {
	height: 80vh;
	width: 74vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

#main {
	height: 80vh;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#side {
	height: 10%;
	width: 90%;
	align-items: flex-end;
	display: flex;
	justify-content: space-around;
	padding: 1em 0px;
}

.full-screen-ver {
	background-color: rgba(65, 67, 69, 0.49);
	border-radius: 7px;
	margin-top: 3px;
}

#audio {
	width: 85%;
}

#controls {
	display: flex;
	justify-content: space-between;
}

.control-btn {
	outline: none;
	background-color: #bdc3c7;
	border: 1px solid #bdc3c7;
	color: white;
	padding: 0px 10px;
	border-radius: 3px;
}

.control-btn:hover {
	background-color: #95a5a6;
	transition: background-color 0.3s ease-in-out;
}
.now-playing {

	border: 1px solid #FFAB00 !important;
	background-color: #FFAB00 !important;

	color: white !important;

}

#selected-playlist {

	background-color: #536DFE;
	color: white;
	padding: 0px 10px;
	margin-left: 2px;
}

/*.folder-playlist {
	border-left: 3px solid white;
	padding-left: 4px;
	color: black !important;
}*/




/* CUSTOMIZE DROPDOWN */
.menu {
	background-color: white;
	border: 0px;
	margin: 10px 0px;
}

#profile {
	width: 25px;
	height: auto;
	margin: 0px 5px;
	border-radius: 50%;
}

/* end */

.list-group-item {
	display: flex !important;
	justify-content: space-between !important;
}

.music-entry {
	color: black !important;
	padding: 3px 7px;
	border: 1px solid black;
	border-radius: 50%;
	margin: 5px;
}


.widget-svg {
	height: 40px;
	width: 40px;
	cursor: pointer;
	padding: 5px;
}


/* CONTROL WIDGET */
/*
#shuffle {
	border: 1px solid #ccc;
	padding-top: 6px;
	padding-bottom: 2px;
	padding-right: 7px;
	padding-left: 8px;
	border-radius: 50%;
}

#repeat {
	border: 1px solid #ccc;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 7px;
	padding-left: 9px;
	border-radius: 50%;
}

#coffee {
	border: 1px solid #ccc;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 8px;
	padding-left: 8px;
	border-radius: 50%;
}


#clock {
	border: 1px solid #ccc;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-right: 9px;
	padding-left: 9px;

	border-radius: 50%;
}

#zoom {
	padding: 6px 10px;
	border: 1px dashed #ccc;
	border-radius: 50%;
	cursor: pointer;
}

#dark-mode {
	padding: 6px 10px;
	border: 1px dashed #ccc;
	border-radius: 50%;
	cursor: pointer;
}
*/
.control-widget:hover {
	transition: all 0.3s ease-out;
}

/* TOGGLE CLASS */
.control-activate {
	background-color: #f1f1f1;
	color: white;
	border-radius: 7px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.album-art-zoom {
	width: 350px;
	height: auto;
	transition: all 0.5s ease;
}

.zoom-player {
	height: 100vh !important;
	transition: all 0.7s ease-out;
}

.zoom-side {
	justify-content: space-between;
	transition: all 0.8s ease-out;
}

.full-screen-activate {
	height: 100vh;
}


/* end */


/* NAVBAR */
.navbar-default {
	border-radius: 0px !important;
	border: none !important;
}

.navbar-default .navbar-nav > li > a {

    color: white !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}


input {
	padding: 20px 20px !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	outline: none !important;
}



/* SCROLL */
#pauseBtn{

	background-color: #FFAB00;	

	border: none;
	padding: 8px 30px;
	outline: none;
	color: white;
	border-radius: 45px;
	margin: 10px 0px;
}

#track-header {
	display: flex;

	justify-content: space-between;	
	align-items: center;
}

.emoji {
	font-size: 3em;
	margin: 0px 2em;
	cursor: pointer;
}

.emoji:hover {
	transform: scale(2);
	transition: all 0.3s ease-out;
}

#mood-container {
	height: 100vh;
	width: 100vw;
	display: flex;	
	flex-direction: column;
	justify-content: center;	
	align-items: center;	
	background: linear-gradient(to bottom, #6190e8, #a7bfe8);
	color: white;
}

.mood-child:first-child {
	padding-bottom: 3em;
}

.mood-child:last-child {
	flex-direction: row !important;
	display: flex;
}

#most-played {
	width: 1000px;
	display: inline-flex;
	margin-top: 8px;
	padding-left: 0px;
}

.most-played-thumb {
	height: 35px;
	width: 35px;
	margin-right: 20px;
	border: 2px solid white;
	cursor: pointer;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
}

#close-recommendations, #close-discovery {
	cursor: pointer;
	font-size: 2em;
	margin-top: 20px;
	margin-right: 13px;
}

.recommended-entry {
	height: 200px;
	width: auto;
	cursor: pointer;
} 

.recommended-thumb {
	padding: 25px 20px;
}

.artist-block {
	font-size: 10px;
	line-height: 10%;
}

#empty-placeholder {
	text-align: center;
	padding: 7em;
	background-color: rgba(241, 241, 241, 0.65);
	border: 1px dashed #f1f1f1;
	border-radius: 4px;
}

.title {
	padding-left: 2px;
	line-height: 10%;
}

.btn {
	border-radius: 30px !important;
	padding: 6px 40px !important;
	background-color: #4568DC;
	color: white !important;
	border: none !important;
	outline: none !important;
	text-transform: uppercase !important;
}

.btn:hover {
	background-color: rgba(69, 104, 220, 0.72) !important;
}

#timer {
	margin: 0px 40px;
	margin-top: 7px;
}


.modal-header {
	background-color: #1e3c72;
	color: white;

}

#discovery-body {
	display: flex;
	justify-content: center;
	align-items: center;

}

#discovery-body > .discover-thumb {
	visibility: hidden;
	height: 400px !important;
	width: 340px !important;
}

.discover-thumb > .thumb-bg {
	height: 340px !important;
}

.list-group-item {
	display: block !important;
}

.list-group-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	float: left;
	padding: 0px;
	margin-right: 5px;
}

#login-page {
	height: 100vh;
	background-image: url('../login.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#login-form {
	height: 100vh;
	display: flex;
	align-items: center;
	color: initial;
}

#login-testimony {
	height: 100vh;
	display: flex;

	justify-content: center;
	flex-direction: column;
}

#recommendations-container {
	height: 100vh;
	background-image: url('../recommendation.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#discovery-container {
	height: 100vh;
	background-image: url('../discover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

/* PROGRESSBAR */

progress {
  border-radius: 2px; 
  width: 85%;
  height: 3px;
/*  margin-left:-11.5%;*/
}
progress::-webkit-progress-bar {
  background-color: #e7e7e7;
  border-radius: 2px;
}
progress::-webkit-progress-value {
   border-radius: 2px; 
   background: linear-gradient(to right, #de6161, #2657eb);
}

/* AUDIO CONTROLS */
#audio-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
}

#prev {
	border: none;
	margin-right: 2em;
	outline: none;
	background-color: transparent;
	font-size: 2em;
	color: #777;
}

#next {
	border: none;
	margin-left: 2em;
	outline: none;
	background-color: transparent;
	font-size: 2em;
	color: #777;
}

#play {
	padding: 1em 1.3em;
	border-radius: 50%;
	outline: none;
	background-color: transparent;
	color: #777;
	border: 2px solid #777;
	font-size: 1em;
	transition: 0.5s;
}

#play:hover {
	background-position: right center;
}

audio {
	visibility: hidden;
}


#audio-sliders {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: inherit;
}

#volume-control > .fa {
	color: #e7e7e7;
	cursor: pointer;
	transition: 0.3s;
	padding: 5px 5px;
}

#volume-control > .fa:hover {
	color: #777;
}

#volume-control > .fa:active {
	transform: scale(1.4);
}


.volume-zoom-mode {
	color: #777 !important;
}

.vol-control-active {
	transform: scale(2) !important;
	color: #777 !important;
}

/* THUMBNAILS DESIGN */
.song-thumb-parent {
	background-color: white;
	margin-bottom: 60px;
	height: 270px;
	width: 210px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
}
.song-thumb-parent:hover {
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	 transition: 0.3s;
}

.thumb-bg {
	height: 210px;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	align-items: flex-end;
	flex-direction: column-end;
	padding: 0px 10px;
	font-family: regularFont;
	text-shadow: 1px 0px 1px #000000;
	border-radius: inherit;
}

.thumb-label {
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0px 10px;
	font-family: regularFont;
	font-weight: bold;
	justify-content: space-between;
	color: #4e4e4e;
}

.thumb-label > h5 {
	width: 85%;
}

.play-btn {
	height: 25px;
	width: 25px;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	color: #777;
}

.play-btn:hover {
	background-color: #f1f1f1;
}

.play-btn:active {
	transform: scale(1.1);
}

.side-list {
	padding: 0px;
}

.side-list > li {
	list-style: none;
}

.side-list > li > a {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 10px 7px;

}

.side-list > li > a:hover {
	background-color: #f1f1f1;
}

.side-list-active {
	background: linear-gradient(to right, #de6161, #2657eb) !important;
	color: white !important;
}

#side-menu {
	border-left: 1px solid #f1f1f1;
}

#selected-playlist {
	border-radius: 3px;	
}

#playing-playlist {
	border: 1px solid #de6161;
	border-radius: 4px;
	color: #de6161;
	padding: 0px 5px;
}

.playing-playlist-inverse {
	background: rgba(65, 67, 69, 0.49) !important;
	color: #e7e7e7 !important;
	border: 1px solid rgba(65, 67, 69, 0.49) !important;
}

#misc {
	display: flex;
	width: 100%;
}