html, body {
	font-family: 'Pontano Sans', sans-serif;
}

.folder {
	height: 250px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	border-radius: 2px;
	margin: 10px;
}

.folder:hover {
	box-shadow: 0px 2px 6px 0px rgba(171,168,171,1);
	transition: box-shadow 0.3s linear;
}

#album-art {
	box-shadow: 0px 9px 36px -6px rgba(181,177,181,1);
}

#player {
	height: 60vh;
	width: 74vw;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
/* REMOVE DOWNLOAD BTN */
audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}
audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/* end */

#artist {
	color: #616161;
}

#main {
	height: 60vh;
	width: 90%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#side {
	height: 40vh;
	width: 10%;
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}


#audio {
	width: 85%;
}

#controls {
	display: flex;
	justify-content: space-between;
}

.control-btn {
	outline: none;
	background-color: #bdc3c7;
	border: 1px solid #bdc3c7;
	color: white;
	padding: 0px 10px;
	border-radius: 3px;
}

.control-btn:hover {
	background-color: #95a5a6;
	transition: background-color 0.3s ease-in-out;
}
.now-playing {
<<<<<<< HEAD
	border: 1px solid #FFAB00 !important;
	background-color: #FFAB00 !important;
=======
	border: 1px solid #FF1744 !important;
	background-color: #FF1744 !important;
>>>>>>> origin/master
	color: white !important;

}

#selected-playlist {
<<<<<<< HEAD
	background-color: #FFAB00;
=======
	background-color: #FF1744;
>>>>>>> origin/master
	color: white;
	padding: 0px 10px;
	border-radius: 3px;
	margin-left: 2px;
}

.folder-playlist {
	border-left: 3px solid white;
	padding-left: 4px;
}

.current-playlist {
<<<<<<< HEAD
	border-left: 3px solid #FFAB00;
=======
	border-left: 3px solid #FF1744;
>>>>>>> origin/master
	text-decoration: none !important;
}

.title {
	font-family: 'Lilita One', cursive;
}

/* CUSTOMIZE DROPDOWN */
.menu {
	background-color: white;
	border: 0px;
	margin: 10px 0px;
}

#profile {
	width: 25px;
	height: auto;
	margin: 0px 5px;
	border-radius: 50%;
}

/* end */

.list-group-item {
	display: flex !important;
	justify-content: space-between !important;
}

.music-entry {
	color: black !important;
	padding: 3px 7px;
	border: 1px solid black;
	border-radius: 50%;
	margin: 5px;
}

/* CONTROL WIDGET */

#shuffle {
	border: 1px solid black;
	padding-top: 6px;
	padding-bottom: 2px;
	padding-right: 7px;
	padding-left: 8px;
	border-radius: 50%;
}

#repeat {
	border: 1px solid black;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 7px;
	padding-left: 9px;
	border-radius: 50%;
}

#coffee {
	border: 1px solid black;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 8px;
	padding-left: 8px;
	border-radius: 50%;
}

<<<<<<< HEAD
#clock {
	border: 1px solid black;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-right: 9px;
	padding-left: 9px;
=======
#heart {
	border: 1px solid black;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 8px;
	padding-left: 8px;
>>>>>>> origin/master
	border-radius: 50%;
}

#zoom {
	padding: 6px 10px;
	border: 1px dashed black;
	border-radius: 50%;
	cursor: pointer;
}

#dark-mode {
	padding: 6px 10px;
	border: 1px dashed black;
	border-radius: 50%;
	cursor: pointer;
}

.control-widget:hover {
<<<<<<< HEAD
	background-color: #424242;
	color: white;
	border: 1px solid #424242 !important;
=======
	background-color: #42A5F5;
	color: white;
	border: 1px solid #42A5F5 !important;
>>>>>>> origin/master
	transition: all 0.5s ease-in-out;
}

/* TOGGLE CLASS */
.control-activate {
<<<<<<< HEAD
	border: 1px solid #424242;
	background-color: #424242;
=======
	border-right: 1px solid #42A5F5 !important;
	border-left: 1px solid #42A5F5 !important;
	border-top: 1px solid #90CAF9 !important;
	border-bottom: 1px solid #1E88E5 !important;
	background-color: #42A5F5;
>>>>>>> origin/master
	color: white;
}

.album-art-zoom {
	width: 500px;
	height: auto;
	transition: all 0.5s ease;
}

.zoom-player {
	height: 85vh !important;
	transition: all 0.7s ease-out;
}

.zoom-side {
	justify-content: space-between;
	transition: all 0.8s ease-out;
}

.full-screen-activate {
	height: 100vh;
}


/* end */


/* NAVBAR */
<<<<<<< HEAD
.navbar-default .navbar-nav > li > a {
=======
/*.navbar-default .navbar-nav > li > a {
>>>>>>> origin/master
    color: white !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
<<<<<<< HEAD

/*input[type="text"] {
=======
*/
input[type="text"] {
>>>>>>> origin/master
	outline: none !important;
	border-radius: 40px !important;
}

input[type="text"]:focus {
	box-shadow: none !important;
<<<<<<< HEAD
}*/
=======
}
>>>>>>> origin/master


/* SCROLL */
#pauseBtn{
<<<<<<< HEAD
	background-color: #FFAB00;	
=======
	background-color: #FF1744;
>>>>>>> origin/master
	border: none;
	padding: 8px 30px;
	outline: none;
	color: white;
	border-radius: 45px;
	margin: 10px 0px;
}

#track-header {
	display: flex;
<<<<<<< HEAD
	justify-content: space-between;	
	align-items: center;
}

.emoji {
	font-size: 3em;
	margin: 0px 2em;
	cursor: pointer;
}

.emoji:hover {
	transform: scale(2);
	transition: all 0.3s ease-out;
}

#mood-container {
	height: 100vh;
	width: 100vw;
	display: flex;	
	flex-direction: column;
	justify-content: center;	
	align-items: center;	
	background: linear-gradient(to bottom, #6190e8, #a7bfe8);
	color: white;
}

.mood-child:first-child {
	padding-bottom: 3em;
}

.mood-child:last-child {
	flex-direction: row !important;
	display: flex;
}

#most-played {
	width: 1000px;
	display: inline-flex;
	margin-top: 8px;
	padding-left: 0px;
}

.most-played-thumb {
	height: 35px;
	width: 35px;
	margin-right: 20px;
	border: 2px solid white;
}

=======
	justify-content: space-between;
	align-items: center;
}

>>>>>>> origin/master
